<section class="section choose-section">
  <div class="container">
    <h2 class="section-title">Why Choose Product?</h2>
    <ul class="choose-list">
      <li class="choose-item">
        <div class="arrow-container arrow">
          <svg class="choose-icon" width="16" height="18">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <h3 class="choose-card-title">Special Business</h3>
        <p class="choose-card-text">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
      <li class="choose-item">
        <div class="snake-container snake">
          <svg class="choose-icon" width="16" height="18">
            <use href="/img/icons.svg#icon-snake"></use>
          </svg>
        </div>
        <h3 class="choose-card-title">Instant Result</h3>
        <p class="choose-card-text">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
      <li class="choose-item">
        <div class="time-container time">
          <svg class="choose-icon" width="16" height="18">
            <use href="/img/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <h3 class="choose-card-title">Fastest way to organize</h3>
        <p class="choose-card-text">
          Product helps you see how many more days you need to work<br />
          to reach your financial goal<br />
          for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
