<section class="section client-section">
  <div class="container">
    <h1 class="client-title">Our Clients</h1>
    <ul class="client-list">
      <li class="client-item">
        <a class="client-link" href="https://www.airbnb.com.ua/">
          <svg class="client-logo" width="159" height="50">
            <use href="/img/icons.svg#icon-airbnb-logo"></use>
          </svg>
        </a>
      </li>
      <li class="client-item">
        <a class="client-link" href="https://www.google.com/">
          <svg class="client-logo" width="146" height="50">
            <use href="/img/icons.svg#icon-google-logo"></use>
          </svg>
        </a>
      </li>
      <li class="client-item">
        <a class="client-link" href="https://www.microsoft.com/">
          <svg class="client-logo">
            <use href="/img/icons.svg#icon-microsoft-logo"></use>
          </svg>
        </a>
      </li>
      <li class="client-item">
        <a class="client-link" href="https://www.fedex.com/">
          <svg class="client-logo" width="140" height="42">
            <use href="/img/icons.svg#icon-fedex-logo"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
