<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close" data-menu-close>
      <svg class="mobile-icons-close" width="8" height="8">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list">
      <li><a class="mobile-link" href="./index.html">Product</a></li>
      <li>
        <a class="mobile-link" href="./customers.html">Customers</a>
      </li>
      <li><a class="mobile-link" href="./pricing.html">Pricing</a></li>
      <li><a class="mobile-link" href="">Resources</a></li>
    </ul>

    <ul class="mobile-btn-menu">
      <li><button class="button-in" type="button">Sign In</button></li>
      <li><button class="button-up" type="button">Sign Up</button></li>
    </ul>
  </div>
</div>
