<section class="section offer-section">
  <div class="container">
    <h2 class="section-title">
      Join thousand of other who have already received offers
    </h2>
    <ul class="offer-list">
      <li class="offer-item">
        <div class="wrap-circle-lightning">
          <div class="wrap-background-lightning">
            <div class="wrap-bg-icon-lightning">
              <img
                class="client-logo-lightning"
                src="/img/lightning.svg"
                alt="lightning"
                width="43"
                height="43"
              />
            </div>
          </div>
        </div>
        <h3 class="offer-item-title">Business</h3>
        <p class="offer-item-text">
          Cash Flow<br />
          Asset Backed<br />
          Receivables Finance
        </p>
        <a class="offer-link link" href="">Find the best business product</a>
      </li>
      <li class="offer-item">
        <div class="wrap-circle-union">
          <div class="wrap-background-union">
            <div class="wrap-bg-icon-union">
              <img
                class="client-logo-union"
                src="/img/union.svg"
                alt="lightning"
                width="43"
                height="43"
              />
            </div>
          </div>
        </div>
        <h3 class="offer-item-title">Enterprise</h3>
        <p class="offer-item-text">
          Site Acquisition<br />
          Bridge<br />
          Development Financing
        </p>
        <a class="offer-link link" href="">Find the best business product</a>
      </li>
    </ul>
  </div>
</section>
