<section class="section product-work">
  <div class="container">
    <h2 class="section-title">How Product Work?</h2>
    <ul class="product-work-list">
      <li class="product-work-card">
        <picture>
          <source
            srcset="/img/mobile-mac1.webp 1x, /img/mobile-mac1@2x.webp 2x"
            width="350"
            height="195"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/mac1.webp 1x, /img/mac1@2x.webp 2x"
            src="/img/mac1.webp"
            alt="mac"
            width="500"
            class="product-work-img"
          />
        </picture>
        <div class="wrap-product-card">
          <span class="step">STEP 1</span>
          <h3 class="card-title">Apply for a product</h3>
          <p class="card-text">
            Completing our easy step-by-step application form gives you access
            to multiple business with multiple products. We analyse your
            business through our proprietary credit analysis technology
          </p>
        </div>
      </li>
      <li class="product-work-card reverse">
        <picture>
          <source
            srcset="/img/mobile-mac2.webp 1x, /img/mobile-mac2@2x.webp 2x"
            width="350"
            height="195"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/mac2.webp 1x, /img/mac2@2x.webp 2x"
            src="/img/mac2.webp"
            alt="mac"
            width="500"
            class="product-work-img"
          />
        </picture>
        <div class="wrap-product-card">
          <span class="step">STEP 2</span>
          <h3 class="card-title">Pay fully refundable</h3>
          <p class="card-text">
            Product will contactting you instantly to receive payment of the
            Application Fee. if no offer of product is available, your fee will
            be fully refunded.
          </p>
        </div>
      </li>
      <li class="product-work-card">
        <picture>
          <source
            srcset="/img/mobile-mac3.webp 1x, /img/mobile-mac3@2x.webp 2x"
            width="350"
            height="195"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/mac3.webp 1x, /img/mac3@2x.webp 2x"
            src="/img/mac3.webp"
            alt="mac"
            width="500"
            class="product-work-img"
          />
        </picture>
        <div class="wrap-product-card">
          <span class="step">STEP 3</span>
          <h3 class="card-title">Completion</h3>
          <p class="card-text">
            Product will continue to liase between borrower and manager to
            procees and complete a quick and efficient settlement
          </p>
        </div>
      </li>
    </ul>
    <button class="product-work-btn hero-btn" type="button">
      Get in touch with us
    </button>
  </div>
</section>
