/* Strategies section */

.strategies-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}

.strategies-text {
  font-weight: 500;
  margin-bottom: 40px;
  width: 349px;
}

.strategies-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  /* margin-bottom: 40px; */
}


.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-track {
  display: flex;
}



.strategies-image {
  margin-bottom: 24px;
}


.strategies-card-text {
  /* padding: 0 90px 0 24px; */
  line-height: 1.75;
  margin-bottom: 12px;
  
}

.text-decor {
  font-weight: 700;
}
.strategies-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.strategies-card-title {
  max-width: 294px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  /* padding: 0 27px; */
}

.strategies-card-title.accent {
  color: var(--color-brand);
}

@media screen and (min-width: 1150px) {
.strategies-section .container {
  align-items: flex-start; 
}

.strategies-section {
   padding-bottom: 85px;
}


.strategies-title {
  margin-bottom: 10px;
}

.strategies-text {
  width: 465px;
  
}

.strategies-list {
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

}

.strategies-card-text {
  padding: 0 90px 0 24px;  
}

.strategies-card {
  width: calc((100% - 60px) / 3);
  padding-bottom: 40px;/*?*/
}

.strategies-card-title {
  max-width: 340px;
  padding: 0 27px;
}
}