<section class="section clients-section">
  <div class="container">
    <h2 class="section-title">What Clients Say</h2>
    <p class="section-text">
      Problems trying to resolve the conflict between
      <span class="hyphenation"
        >the two major realms of Classical physics: Newtonian mechanics</span
      >
    </p>

    <div class="clients-list">
      <div class="clients-card">
        <div class="rating" data-rating="0"></div>
        <div class="rating-text">
          Ваш рейтинг: <span class="rating-value">0</span>
        </div>

        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse1.webp 1x, /img/ellipse1@2x.webp 2x"
              src="/img/ellipse1.webp"
              class="clients-image"
              alt="women"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </div>
      <div class="clients-card">
        <div class="rating" data-rating="0"></div>
        <div class="rating-text">
          Ваш рейтинг: <span class="rating-value">0</span>
        </div>
        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse2.webp 1x, /img/ellipse2@2x.webp 2x"
              src="/img/ellipse2.webp"
              class="clients-image"
              alt="men"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </div>
      <div class="clients-card">
        <div class="rating" data-rating="0"></div>
        <div class="rating-text">
          Ваш рейтинг: <span class="rating-value">0</span>
        </div>
        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse3.webp 1x, /img/ellipse3@2x.webp 2x"
              src="/img/ellipse3.webp"
              class="clients-image"
              alt="men"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <ul class="clients-list">
      <li class="clients-card">
        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse1.webp 1x, /img/ellipse1@2x.webp 2x"
              src="/img/ellipse1.webp"
              class="clients-image"
              alt="women"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-card">
        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse2.webp 1x, /img/ellipse2@2x.webp 2x"
              src="/img/ellipse2.webp"
              class="clients-image"
              alt="men"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-card">
        <p class="text-card-clients">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="wrap-clients">
          <div class="wrap-card-image">
            <img
              srcset="/img/ellipse3.webp 1x, /img/ellipse3@2x.webp 2x"
              src="/img/ellipse3.webp"
              class="clients-image"
              alt="men"
              width="50"
            />
          </div>
          <div class="wrap-clients-title-text">
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>
    </ul> -->
  </div>
</section>
