<section class="section collaborative-section">
  <div class="container">
    <div class="collaborative-container">
      <h2 class="title">
        Optimisation for
        <span class="title-decor">Collaborative</span>
      </h2>
      <p class="text">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul class="collaborative-list">
        <li class="collaborative-card">
          <h3 class="card-title">Accessory makers</h3>
          <p class="card-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="collaborative-card">
          <h3 class="card-title">Alterationists</h3>
          <p class="card-text last">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          /img/mobile-collaboration-img.webp    1x,
          /img/mobile-collaboration-img@2x.webp 2x
        "
        width="350"
        height="320"
        media="(max-width: 1150px)"
      />
      <img
        srcset="
          /img/collaboration-img.webp    1x,
          /img/collaboration-img@2x.webp 2x
        "
        src="/img/collaboration-img.webp"
        alt="document"
        width="540"
        height="500"
        class="collaboration-img"
      />
    </picture>
  </div>
</section>
