<section class="section hero-section">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in<br />
        one place! The most intuitive way to imagine your<br />
        next user experience.
      </p>
      <ul class="hero-list">
        <li class="hero-item">
          <button class="hero-btn" type="button">Get started</button>
        </li>
        <li class="hero-item">
          <button class="hero-video-btn" type="button">
            <svg class="icon-play" width="20" height="18">
              <use href="/img/icons.svg#icon-play"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="/img/mobile-hero-img.webp 1x, /img/mobile-hero-img.webp 2x"
        width="350"
        height="320"
        media="(max-width: 1150px)"
      />
      <img
        srcset="/img/hero-img.webp 1x, /img/hero-img@2x.webp 2x"
        src="/img/hero-img.webp"
        alt="people"
        width="610"
        height="555"
        class="hero-img"
      />
    </picture>
  </div>
</section>
