<section class="section managment-section">
  <div class="container">
    <div class="managment-container">
      <h2 class="title">
        Effortless Validation for
        <span class="title-decor">Management</span>
      </h2>
      <p class="text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="managment-list">
        <li class="managment-card">
          <h3 class="card-title">Accessory makers</h3>
          <p class="card-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="managment-card">
          <h3 class="card-title">Alterationists</h3>
          <p class="card-text last">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          /img/mobile-management-img.webp    1x,
          /img/mobile-management-img@2x.webp 2x
        "
        width="350"
        height="320"
        media="(max-width: 1150px)"
      />
      <img
        srcset="/img/management-img.webp 1x, /img/management-img@2x.webp 2x"
        src="/img/management-img.webp"
        alt="document"
        width="540"
        height="500"
        class="management-img"
      />
    </picture>
  </div>
</section>
