<section class="section process-section">
  <div class="container">
    <h2 class="section-title">Quick & Easy Process</h2>
    <p class="section-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-card">
        <picture>
          <source
            srcset="/img/mobile-avatar1.webp 1x, /img/mobile-avatar1@2x.webp 2x"
            width="90"
            height="90"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/avatar1.webp 1x, /img/avatar1@2x.webp 2x"
            src="/img/avatar1.webp"
            alt="women"
            width="98"
            height="98"
            class="procss-img"
          />
        </picture>
        <div class="wrap-card-text">
          <p class="process-text">I can take care of your pitch</p>
        </div>
      </li>
      <li class="process-card reverse">
        <picture>
          <source
            srcset="/img/mobile-avatar2.webp 1x, /img/mobile-avatar2@2x.webp 2x"
            width="90"
            height="90"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/avatar2.webp 1x, /img/avatar2@2x.webp 2x"
            src="/img/avatar2.webp"
            alt="women"
            width="98"
            height="98"
            class="procss-img"
          />
        </picture>
        <div class="wrap-card-text">
          <p class="process-text">I can prototype your app</p>
        </div>
      </li>
      <li class="process-card last reverse">
        <picture>
          <source
            srcset="/img/mobile-avatar3.webp 1x, /img/mobile-avatar3@2x.webp 2x"
            width="90"
            height="90"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/avatar3.webp 1x, /img/avatar3@2x.webp 2x"
            src="/img/avatar3.webp"
            alt="women"
            width="98"
            height="98"
            class="procss-img"
          />
        </picture>
        <div class="wrap-card-text">
          <p class="process-text">I can take care of your pitch.</p>
        </div>
      </li>
      <li class="process-card last">
        <picture>
          <source
            srcset="/img/mobile-avatar4.webp 1x, /img/mobile-avatar4@2x.webp 2x"
            width="90"
            height="90"
            media="(max-width: 1150px)"
          />
          <img
            srcset="/img/avatar4.webp 1x, /img/avatar4@2x.webp 2x"
            src="/img/avatar4.webp"
            alt="women"
            width="98"
            height="98"
            class="procss-img"
          />
        </picture>
        <div class="wrap-card-text">
          <p class="process-text">I can help marketing strategy</p>
        </div>
      </li>
    </ul>
    <button class="process-btn hero-btn" type="button">
      Contact our expert
    </button>
  </div>
</section>
