<section class="section promo-section">
  <div class="container">
    <h2 class="visually-hidden">Promo</h2>
    <div class="wrap-promo">
      <p class="promo-text">
        Join 100 Compannies who boost their business with Product
      </p>
      <button class="promo-btn price-btn accent" type="button">Get This</button>
    </div>
    <img
      srcset="/img/screen.webp 1x, /img/screen@2x.webp 2x"
      src="/img/screen.webp"
      alt="screen"
      width="351"
      height="331"
    />
  </div>
</section>
