<section class="section support-section">
  <div class="container">
    <picture>
      <source
        srcset="
          /img/mobile-support-img.webp    1x,
          /img/mobile-support-img@2x.webp 2x
        "
        width="350"
        height="320"
        media="(max-width: 1150px)"
      />
      <img
        srcset="/img/support-img.webp 1x, /img/support-img@2x.webp 2x"
        src="/img/support-img.webp"
        alt="laptop"
        width="540"
        height="500"
        class="support-img"
      />
    </picture>
    <div class="support-container">
      <h2 class="title">
        Easier decision making for
        <span class="title-decor">Customer Support</span>
      </h2>
      <p class="text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-card">
          <div class="support-path one">
            <svg class="icon-path" width="16" height="12">
              <use href="/img/icons.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-card">
          <div class="support-path two">
            <svg class="icon-path" width="16" height="12">
              <use href="/img/icons.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-card">
          <div class="support-path three">
            <svg class="icon-path" width="16" height="12">
              <use href="/img/icons.svg#icon-path"></use>
            </svg>
          </div>
          <p class="support-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
