<section class="section effects-section">
  <div class="container">
    <h2 class="effects-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="wrap-effects image-list">
      <picture>
        <source
          srcset="
            /img/mobile-amico-product.webp    1x,
            /img/mobile-amico-product@2x.webp 2x
          "
          width="350"
          height="286"
          media="(max-width: 1150px)"
        />
        <img
          srcset="/img/amico-product.webp 1x, /img/amico-product@2x.webp 2x"
          src="/img/amico-product.webp"
          alt="laptop"
          width="528"
          height="392"
          class="effect-img"
        />
      </picture>
      <ul class="effects-list">
        <li class="effects-item">
          <div class="wrap-icon-title">
            <div class="wrap-effects-icon">
              <svg class="effect-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-feature1"></use>
              </svg>
            </div>
            <h3 class="effects-item-title">Enterpreneur</h3>
          </div>
          <p class="effects-item-text">
            Product is a great way to help medium and samall enterprise owners
            achieve their goals
          </p>
        </li>
        <li class="effects-item">
          <div class="wrap-icon-title">
            <div class="wrap-effects-icon">
              <svg class="effect-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-feature2"></use>
              </svg>
            </div>
            <h3 class="effects-item-title">Accountants</h3>
          </div>
          <p class="effects-item-text">
            Whether you are working on contract with clients, or on other key
            accounting documents, Product is for you
          </p>
        </li>
        <li class="effects-item">
          <div class="wrap-icon-title">
            <div class="wrap-effects-icon">
              <svg class="effect-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-feature3"></use>
              </svg>
            </div>
            <h3 class="effects-item-title">Universities</h3>
          </div>
          <p class="effects-item-text">
            Organize university projects and have documents easily
            <span class="effects-hyphenation">graded online with Product</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
