<section class="section enterprise-section">
  <div class="container">
    <h3 class="section-enterprise-title">ENTERPRISE</h3>
    <h2 class="section-titile">
      Are you interested in a custom<span class="hide-on-mobile">-</span
      >tailored plan?
    </h2>
    <p class="enterprise-section-text">
      Product is a set of advanced features for really large teams with
      projects.
    </p>
    <button class="enterprise-btn hero-btn" type="button">
      Get in touch with us
    </button>
  </div>
</section>
