<section class="section section-price">
  <div class="container">
    <h3 class="section-price-title">PRICING</h3>
    <h1 class="price-title">Let’s get some real work done here.</h1>
    <p class="price-text">
      Prodict is your perfect solution for working. Get started now for free
    </p>
    <ul class="price-list">
      <li class="price-card">
        <h3 class="price-card-title">Free</h3>
        <p class="price-card-text">Brief price description</p>
        <div class="wrap-price">
          <p class="numeric-text">0</p>
          <div class="wrap-per-offer">
            <span class="symbol">$</span>
            <p class="per-text">Per / month</p>
          </div>
        </div>
        <ul class="offers-list">
          <li class="offers">
            <p class="offers-text">Only 2 Operators</p>
          </li>
          <li class="offers">
            <p class="offers-text">Notifications</p>
          </li>
          <li class="offers">
            <p class="offers-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn hero-btn" type="button">Order Now</button>
      </li>
      <li class="price-card background">
        <h3 class="price-card-title accent">Standard</h3>
        <p class="price-card-text accent">Brief price description</p>
        <div class="wrap-price">
          <p class="numeric-text accent">5</p>
          <div class="wrap-per-offer">
            <span class="symbol accent">$</span>
            <p class="per-text accent">Per / month</p>
          </div>
        </div>
        <ul class="offers-list accent">
          <li class="offers accent">
            <p class="offers-text accent">5+ Operators</p>
          </li>
          <li class="offers accent">
            <p class="offers-text accent">Notifications</p>
          </li>
          <li class="offers accent">
            <p class="offers-text accent">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn accent" type="button">Order Now</button>
      </li>
      <li class="price-card">
        <h3 class="price-card-title">Premium</h3>
        <p class="price-card-text">Brief price description</p>
        <div class="wrap-price">
          <p class="numeric-text">10</p>
          <div class="wrap-per-offer">
            <span class="symbol">$</span>
            <p class="per-text">Per / month</p>
          </div>
        </div>
        <ul class="offers-list">
          <li class="offers">
            <p class="offers-text">10+ Operators</p>
          </li>
          <li class="offers">
            <p class="offers-text">Notifications</p>
          </li>
          <li class="offers">
            <p class="offers-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn hero-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
