<section class="section question-section">
  <div class="container">
    <h2 class="question-title">Frequently asked question</h2>
    <p class="section-question-text">
      Something is not clear? You need help? Check our FAQ section
    </p>
    <ul class="question-list">
      <li class="question-item">
        <div class="wrap-icon-text">
          <svg class="icon-question" width="24" height="24">
            <use href="/img/icons.svg#icon-plus-circle"></use>
          </svg>
          <b class="question-text">What are my payment option?</b>
        </div>
        <p class="question-item-text">
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </p>
      </li>
      <li class="question-item">
        <div class="wrap-icon-text">
          <svg class="icon-question" width="24" height="24">
            <use href="/img/icons.svg#icon-minus-circle"></use>
          </svg>
          <b class="question-text"
            >How can I invite collaborator to platform?</b
          >
        </div>
        <p class="question-item-text">
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </p>
      </li>
      <li class="question-item">
        <div class="wrap-icon-text">
          <svg class="icon-question" width="24" height="24">
            <use href="/img/icons.svg#icon-plus-circle"></use>
          </svg>
          <b class="question-text">Can I upgrade my plan?</b>
        </div>
        <p class="question-item-text">
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </p>
      </li>
      <li class="question-item">
        <div class="wrap-icon-text">
          <svg class="icon-question" width="24" height="24">
            <use href="/img/icons.svg#icon-plus-circle"></use>
          </svg>
          <b class="question-text">Can I cancel my plan at anytime?</b>
        </div>
        <p class="question-item-text">
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </p>
      </li>
    </ul>
  </div>
</section>
